.container-fluid{
  background-color: #f2f2f2;
}
/*CARDS*/
.card{
  background-color: #f2f2f2;
}
h1{
  font-size: 30px;
  line-height: 18px;
  color: #666d89;
  font-weight: 900;
}
p{
  color: #767e9e;
}
.card h5{
  font-weight: bold;
  color: #666d89;
}
.card p{
  line-height: 22px;
  font-weight: 400;
  text-align: left;
}
